{# purpose of this template: contents user index view #}
{% extends 'MUPostsModule::base.html.twig' %}
{% block title __('contents') %}
{% block content %}
    <p>{{ __('Welcome to the content section of the Posts application.') }}</p>
{% endblock %}
