{# purpose of this template: contents admin index view #}
{% extends 'MUPostsModule::adminBase.html.twig' %}
{% block title __('contents') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the content section of the Posts application.') }}</p>
{% endblock %}
